<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="style3.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
  <body>
        <header role="banner">
            
              <h1>Welcome Mentor</h1><br>
          
                  <ul class="utilities">
                  <br>
                  <li class="logout warn"><a href="/mentor.html">Log Out</a></li>
                </ul>
              </header>
              
    <nav role='navigation'>
      <ul class="main">
        <li class="women" id="women"><a href="https://en.wikipedia.org/wiki/Women_in_India">Women Issue</a></li>
        <li class="depression" id="dep"><a href="https://www.medicalnewstoday.com/kc/depression-causes-symptoms-treatments-8933">Depression</a></li>
        <li class="health"><a href="#">Health Issues</a></li>
        <li class="sexual"><a href="https://en.wikipedia.org/wiki/Sexual_abuse">Sexually Abused</a></li>
        <li class="drug"><a href="https://www.helpguide.org/articles/addictions/drug-abuse-and-addiction.htm">Drug Addiction</a></li>
      </ul>
    </nav>
    <main role="main"> 
      <h2 style="text-align:center;">The best kind of existence is to exist for others!!!</h2>
      
      <% for(var i = 0; i < products.length; i++){ %>
      <div class="container" id="query" style="margin-top:10px;">
          <div class="jumbotron" style="padding-top:20px;padding-bottom:10px;">   
                <h4><%=products[i].Issue%></h4>     
                 
            <p style="padding-top:12px;"><input id="id" onClick="f('<%=products[i]._id%>')" type="button" style="float:right;" value="Solve"><%=products[i].Description%></p> 
            <p>Contact number: <%=products[i].contact%></p>
          </div>
      </div> 
      <% } %>   
    </main>     
   
          
        <script>
          
      function f(val){
        
        axios({
          method:'delete',
          url:'http://localhost:3007/val',
          data:{
            val:val
          }
         
        })
      }
      </script>       
  </body>
</html>
                









              